<template name="measureBP">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>血压</h5>
            </div>
            <div class="ibox-content">
                {{#if statusEqualTo 'waitingToMeasure'}}
                    <div class="text-center">
                        <a id="startToMeasure">
                            <i class="fa fa-play"></i>
                        </a>
                    </div>
                {{/if}}
                {{#if statusEqualTo 'connectingToDevice'}}
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                {{/if}}

                {{#if statusEqualTo 'measuring'}}
                    {{#if bloodPressure}}
                        <div>
                            <small class="pull-right">{{bloodPressure}} mmHg</small>
                        </div>
                        <div class="progress progress-striped active">
                            <div style="width: {{bloodPressureRate}}%;" class="progress-bar"></div>
                        </div>
                    {{/if}}
                    <div class="flot-chart">
                        <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                    </div>


                {{/if}}
                {{#if test}}

                {{/if}}
                <div>设备地址：{{address}}</div>
                <div>status: {{status}}</div>
                {{message}}
            </div>
        </div>

    </div>


</template>