<template name="measureBP">
    <div class="wrapper wrapper-content animated fadeInRight">

        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <h5>iHealth血压测量</h5>
            </div>
            <div class="ibox-content text-center">
                {{#if statusEqualTo 'waitingToMeasure'}}
                    <div class="font-size-20 font-weight-normal start-to-measure">
                        <a id="startToMeasure">
                            <img src="/startToMeasure.png" width="200px"/>
                            <div class="font-color-white m-r-sm start-to-measure-text">
                                开始测量
                            </div>
                        </a>
                    </div>
                {{/if}}
                {{#if statusEqualTo 'connectingToDevice'}}
                    <div class="sk-spinner sk-spinner-wave">
                        <div class="sk-rect1"></div>
                        <div class="sk-rect2"></div>
                        <div class="sk-rect3"></div>
                        <div class="sk-rect4"></div>
                        <div class="sk-rect5"></div>
                    </div>
                    <div>准备中...</div>

                {{/if}}

                {{#if statusEqualTo 'measuring'}}
                    <div class="chart-bg">
                        {{#if bloodPressure}}
                            <div class="progressbarVertical-background"></div>
                            <div class="progressbarVertical" id="bp-progressbar">{{bloodPressure}}</div>
                        {{/if}}
                        {{#if wave}}
                            <div class="flot-chart flot-chart-bg">
                                <div class="flot-chart-content" id="flot-line-chart-moving"></div>
                            </div>
                        {{/if}}
                    </div>
                    <div class="font-size-20 font-weight-normal">
                        <a id="cancelTheMeasure">
                            <img src="/bp-stop.png" width="50px" />
                            <p class="font-color-green">
                                停止
                            </p>
                        </a>
                    </div>
                {{/if}}

                {{#if statusEqualTo 'measured'}}
                    <div class="font-size-50 font-weight-normal" id="bpresult">
                        <div class="font-family-en font-weight-lighter font-color-green table-block pull-left m-r-sm">
                            <span class="inlin-block font-size-14 m-t m-l-sm pull-right font-family-en">mmHg</span>
                            {{HP}}/{{LP}}
                            <i class="fa fa-heart"></i>{{heartRate}}
                        </div>
                    </div>
                {{/if}}
                {{#if error}}
                    连接失败
                {{/if}}
                {{#if debug}}
                    <div>设备地址：{{address}}</div>
                    <div>status: {{status}}</div>
                    {{message}}
                {{/if}}
                <div>copyright by iHealthLabs Inc.</div>
            </div>
        </div>

    </div>


</template>